body{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Bebas Neue', cursive;
    color: #FABE4C;
    font-size: 70px;
}
h1 span{
    color: #363958;
}
h2{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}
h5{
    color: #363958;
    font-weight: bold;
    font-size: 25px;
}
h5 span{
    color: #FABE4C;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
}
header{
    background-color: #FFFBF0;
}
.logo-edit img{
    width: 270px;
}
.btn-edit{
    background-color: #76C27E;
    border: 0;
    border-radius: 10px;
}
.header-penguin-part img{
    width: 80%;
}
.woman-jacket,.man-jacket{
    border: 0;
}
.woman-jacket-bg,.man-jacket-bg{
    background-color: #F1F1F1;
    border-radius: 10px;
}
.woman-jacket img,.man-jacket img{
    width: 300px;
    height: 300px;
}
.woman-jacket-footer,.man-jacket-footer{
    border: 0;
    background-color: white;
}
.icon-edit{
    border: 0;
}
.icon-edit img{
    width: 80px;
    height: 80px;
}